@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

html {
	font:normal 125%/1.2em 'Poppins',sans-serif;
}

#logo {
	filter: hue-rotate(-55deg) brightness(125%) saturate(70%);
	width:125px;
}

body{
	background-color: #DEF6EB;
}

main{
	padding: 3% 10% 3% 10%;
	color:#0D1E29;
}

h1 {
	color: #0D1E29 ;
}

#accueil{
	background-color: #fff;
	text-align: center;
	padding: 8% 4% 8% 4%;
	color: #0D1E29;
	border-top: #91e1ba 8px solid;
	border-radius: 0 0 12px 12px;
	box-shadow: 0 0 32px -8px #326A4F80;
}

fieldset {
	display:block;
	border: none;
	overflow:hidden;
	padding: 0 10px 0 0;
}

legend {
	font-size: 125%;
}

label {
	background:transparent none;
	display: block;
	width: 100%;
	float: left;
	text-align: left;
	font-size: 90%;
}

input[type="number"]{
	width: 99%;
	height: 24px;
	font-size: 14px;
	font-family:'Poppins',sans-serif;
	border-radius: 16px;
	border: #91e1ba 2px solid;
	background-color: #DEF6EB;
	transition-duration: 250ms;
	padding-left: 6px;
}

input {
	width: 99%;
	height: 24px;
	font-size: 14px;
	font-family:'Poppins',sans-serif;
	border-radius: 16px;
	border: #91e1ba 2px solid;
	background-color: #DEF6EB;
	transition-duration: 250ms;
	padding-left: 6px;
}

select {
	width: 100%;
	height: 30px;
	font-size: 14px;
	font-family:'Poppins',sans-serif;
	border-radius: 16px;
	border: #91e1ba 2px solid;
	background-color: #DEF6EB;
	transition-duration: 250ms;
	padding-left: 6px;
}

.erreur{ 
   background-color:#AF0B0B;
   color:black;
   font-size:1.1em;
   border-radius: 8px;
}

.message{ 
   background-color:#ed9480;
   color: black;
   font-size:1.1em;
   border-radius: 8px;
   padding: 1px;
}

#bandeau {
	display: flex;
	justify-content: space-around;
}

#menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#categories{
	float:left;
}

.produit{ 
	display: flex;
	flex-direction: row;
}

.avis{
	background-color: #DEF6EB;
	border: #91e1ba 2px solid;
	border-radius: 16px;
	resize: none;
	width: 99%;
	margin-top: 1%;
	padding-left: 6px;
}

#produits{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

#contenu{

}

.nav {
	background: #91e1ba ;
	margin-top: -2.3%;
	margin-left: -0.55%;
	margin-right: -0.55%;
	box-shadow: 0 0 32px -8px #326A4F80;
}

#menu {
	padding: 0 50px 0 50px;
}

#menu a {
	text-decoration:none;
	color:#0D1E29;
	font-size: 100%;
	width: 30px;
	transition-duration: 250ms;
	font-weight: 500;
}

#menu a:hover {
	text-decoration:none;
	color:#DEF6EB;
	width: 320px;
	text-shadow: #326A4F80 0 0 24px;
}

#categories li a {
	text-decoration:none;
	color:#0D1E29;
}

#categories li {
	list-style-type: none;
	list-style-image:none;
    margin-right: 1px ;
    width:250px;
    text-align:center;
	background:#91e1ba;
	margin: 4px ; 
	padding: 5px;
	border-radius: 8px;
}


#produits a {
	list-style-type: none;
	list-style-image:none;
	display:inline; 
    width:175px;
    text-align:center;
    height:205px;
    font: 1em "Poppins",sans-serif ;
}

.cart {
	background-color: #91e1ba;
	padding: 0px 32px 0px 32px;
	border-radius: 8px;
	text-decoration:none;
	color:#0D1E29;
	transition-duration: 250ms;
}

.cart:hover {
	background: #DEF6EB ;
}

div.card{
    position : relative;
    width:180px;
    height : 320px;
    float:left;
    padding:10px;
    margin : 10px;
    box-shadow: 2px 2px 32px -8px #326A4F80;
	border-radius: 12px;
	background-color: white;
	transition-duration: 250ms;
}

div.card:hover{
	box-shadow: 6px 6px 32px -8px #326A4F90;
}

div.photoCard>img{
	max-width: 250px;
	width: 100%;
	border-radius: 8px;
}
div.descrCard{
    top:0px;
	font: .8em "Poppins",sans-serif;
	color: #0D1E29 ;
}
div.prixCard{
	text-align:center;
	position:absolute;
    bottom:50px;
	background-color :#FFF;
	font-weight: bold;
	color: #0D1E29 ;
}
div.toTrash{
	text-align: center;
    position:absolute;
    bottom:10px;
	width: 180px;
	background: #ed9480 ;
	border-radius: 8px;
	transition-duration: 250ms;
}

div.imgCard{
	text-align: center;
    position:absolute;
    bottom:10px;
	width: 180px;
	background: #91e1ba ;
	border-radius: 8px;
	transition-duration: 250ms;
}

.tocart{
	padding: 0px 32px 0px 32px;
	border-radius: 8px;
	text-decoration:none;
	color:#0D1E29;
	transition-duration: 250ms;
}

.toProduct{
	padding: 6px 59px 6px 57px;
	text-align: center;
	background: #91e1ba ;
	border-radius: 8px;
	text-decoration:none;
	color:#0D1E29;
	transition-duration: 250ms;
}

div.imgCard:hover{
	background: #DEF6EB ;
}

div.toTrash:hover{
	background: #f9d3c7 ;
}

.toProduct:hover{
	background: #DEF6EB ;
}

.disconnect {
	padding: 0px 32px 0px 32px;
	text-align: center;
	background: #ed9480 ;
	border: none;
	border-radius: 16px;
	text-decoration:none;
	color:#0D1E29;
	transition-duration: 250ms;
	font-size: 100%;
	height: 30px;
}

.disconnect:hover{
	background-color: #f9d3c7;
	cursor: pointer;
}

.form {
	width: 50%;
	background: white;
	padding: 4% 15% 4% 15%;
	margin: 0 10% 0 10%;
	border-radius: 0 0 12px 12px;
	border-top: #91e1ba 8px solid;
	box-shadow: 0 0 32px -8px #326A4F80;
}

.button{
	padding: 0px 32px 0px 32px;
	text-align: center;
	background: #91e1ba ;
	border: none;
	border-radius: 16px;
	text-decoration:none;
	color:#0D1E29;
	transition-duration: 250ms;
	font-size: 100%;
	height: 30px;
}

.button:hover{
	background: #DEF6EB ;
	cursor: pointer;
}



.product {
	width: 50%;
	background: white;
	padding: 4% 15% 4% 15%;
	margin: -2% 10% 0 10%;
	border-radius: 0 0 12px 12px;
	border-top: #91e1ba 8px solid;
	box-shadow: 0 0 32px -8px #326A4F80;
}

.product h1 {
	font-size: 120%;
}

.hline {
	height: 0px;
	border-top:#0D1E29 1px solid;
	margin: 3% 0 3% 0;
}

e {
	background-color: #ed9480;
	padding: 0 8px 0 8px;
	border-radius: 16px;
}

.note {
	text-decoration: none;
	color :#0D1E29
}

.listAvis {
	width: 84%;
	background: white;
	padding: 4% 8% 4% 8%;
	border-radius: 0 0 12px 12px;
	border-top: #91e1ba 8px solid;
	box-shadow: 0 0 32px -8px #326A4F80;
}

.unAvis {
	border-left: #91e1ba 4px solid;
	padding-left: 3%;
}

.quantite {
	background-color: #ed9480;
	padding: 0 8px 0 8px;
	border-radius: 16px;
	width: auto;
	text-align: center;
	position: absolute;
}

.panier {
	width: 50%;
	background: white;
	padding: 2% 5% 2% 5%;
	margin: 0% 0% 0 5%;
	border-radius: 0 0 12px 12px;
	border-top: #91e1ba 8px solid;
	box-shadow: 0 0 32px -8px #326A4F80;
}

.prix {
	font-weight: bold;
}